@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 20px;
}

#root {
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
}

code {
  background-color: #eee;
  border-radius: 3px;
  font-family: courier, monospace;
  padding: 0 3px;
}